/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/TrainingRite-Docs/*
TrainingRite-Docs/*
.DS_Store
.env.example
_ide_helper.php